/* ------ Table of content ------

1. Fonts
	 1.1 Fraunces
   1.2 Montserrat
2. Custom property
3. Global styles
4. Typography
5. Components
   5.1 Card
6. Media queries

------------------------------ */
/* ===============
   Fonts
   =============== */
/* ---- Fraunces ---- */
@font-face {
	font-family: "Fraunces";
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Fraunces/Fraunces-Bold.ttf);
}

/* ---- Montserrat ---- */
@font-face {
	font-family: "Montserrat";
	font-weight: 700;
	font-display: swap;
	src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
}
@font-face {
	font-family: "Montserrat";
	font-weight: 500;
	font-display: swap;
	src: url(../fonts/Montserrat/Montserrat-Medium.ttf);
}

body{
    background-color: hsl(30, 38%, 92%);
    display: flex;
    min-height: 100vh;
    align-items: top;
    justify-content: center;
    font-family: Montserrat, Arial;
}

main{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 15px;
}


/* Main */
.image-container{
    height: 250px;
}

.product-image{
    height: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.product-info{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-type{
    color: hsl(228, 12%, 48%);
    letter-spacing:  10px;
    font-size: 12px;
    padding-top: 25px;
    padding-left: 20px;
    
}

.product-name{
    font-family: Fraunces;
    font-size: 35px;
    padding-left: 20px;
    padding-top: 15px;
    line-height: 35px;
}

.product-description{
    color: hsl(228, 12%, 48%);
    font-size: 16px;
    padding-left: 15px;
    padding-top: 15px;
    line-height: 25px;
    padding-right: 10px;
}

.product-name, .product-description{
    display: inline-block;
}

.prices{
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.promotion-price{
    font-family: Fraunces;
    font-size: 30px;
    color: green;
    padding-left: 20px;
}

.normal-price{
    color: hsl(228, 12%, 48%);
    font-size: 16px;
    text-decoration: line-through;
    padding-left: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 20px;
}

.cart-button{
    display: flex;
    align-items: center;
    color: white;
    background-color: green;
    border: none;
    padding: 14px 100px;
    border-radius: 10px;
    font-family: Montserrat;
    font-weight: bold;
    cursor: pointer;
}

.cart-icon{
    height: 16px;
    margin-right: 10px;
}

.cart-button:active{
    background-color: rgb(5, 92, 5);
}


/* Media Tags */

@media only screen and (min-width: 1440px){
    main{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .image-container{
        height: 400px;
    }

    .product-image{
        height: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }

    .product-info{
        display: flex;
        flex-direction: column;
        height: 400px;
        background-color: rgb(255, 255, 255);
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 10px;
    }

    .product-type{
        padding-top: 60px;
    }

    .product-name{
        font-size: 35px;
        width: 250px;
    }

    .product-description{
        font-size: 15px;
        word-wrap: normal;
        width: 250px;
    }

    .cart-button{
        padding: 14px 60px;
        border-radius: 10px;
        cursor: pointer;
    }

    .button-container{
        padding-bottom: 50px;
    }
}